@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sevillana;
  background-color:beige;
}

a{
  text-decoration: none;
  color:#5a5a5a;

}
img{
  cursor: pointer;
}

.flex-div{
  display: flex;
  align-items: center;
  background-color:beige;
}

